.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50%;
    transform: translateY(20%);
    height: 52rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    width: 60%;
    margin-left: auto;
}

.searchBar i {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.inputField {
    border: none; 
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #333;
}

.inputField::placeholder {
    color: #333;
    font-weight: bold;
}

.addUserButton {
    background-color: #fc9047;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
}

.addUserButton:hover {
    background-color: #e67a3c;
}

.userList {
    margin-top: 20px;
}

.userRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    position: relative;
    height: 6rem;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 60px;
}

.userRow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fc9047;
}

.userIcon {
    font-size: 30px;
    margin-right: 4px;
    color: #333;
}

.userName {
    flex-grow: 1;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-left: 10px;
}

.editIcon {
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.editIcon:hover {
    color: #333;
}

.deleteIcon {
    font-size: 14px;
    color: #ff0000;
    cursor: pointer;
    margin-left: 10px;
}

.deleteIcon:hover {
    color: #cc0000;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modalOverlay.show {
    opacity: 1;
    visibility: visible;
}

//tot hier gepushed

.modal {
    width: 50%; 
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: scale(0.8);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 100%; 
}

.modalForm .inputField {
    border: 2px solid #ccc; 
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border-radius: 8px; 
    transition: border-color 0.3s ease;
}

.modalForm .inputField:focus {
    border-color: #fc9047; 
}

.modalOverlay.show .modal {
    transform: scale(1);
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    margin-top: 20px;
    width: 100%;
}



.closeButton,
.saveButton {
    flex: 1;
    padding: 10px 20px;
    background-color: #fc9047;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.closeButton:hover,
.saveButton:hover {
    background-color: #e67a3c;
}