.form {
	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 80vh;
	max-height: 80vh;
	padding: 2rem;
	border-radius: 2rem;

	&__Container {
		display: flex;
		align-items: start;
		justify-content: flex-start;
		width: 100%;
		gap: 1rem;
		height: 100%;
	}

	&__textContainer {
		display: flex;
		align-items: start;
		justify-content: space-between;
		flex-direction: column;
		gap: 1rem;
		width: 50%;
		height: 100%;
	
	}

	&__previewContainer {
		height: 100%;
		width: 50%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;

		flex-direction: column;
	}

	&__infoTitle {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__input {
		background: white;
		border-radius: 1rem;
		padding: 1rem;

		border: 0.2rem solid black;

		&--title {
			width: 100%;
			
		}

		&--time{
			width: 100%;
			padding: 0.5rem;
			border-radius: 1rem;
	
	
			background: white;
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		&--budget {
			padding-left: 3rem; 
			
		}
	}

	&__label{
	
	}

	&__textarea {
		width: 100%;
		background: white;
		border-radius: 1rem;
		padding: 0.5rem 1rem;
		border: 0.2rem solid black;
		height: 20rem;
	}

	&__divContainer {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 2rem;
		width: 100%;
		
		
	}

	&__div {
		width: 100%;
		position: relative;
		padding-bottom: 1.5em;
		top: 0;
	}

	&__timepicker,
	&__imgPicker {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
		width: 100%;
	}

	.timepicker:before {
		content: 'Opening time:';
		color: #9d9d9d;
		margin-bottom: 0.2rem;
		font-size: 14px;
		font-weight: bold;
	}

	.imgPicker:before {
		content: 'Upload image:';
		color: #9d9d9d;

		font-size: 14px;
		font-weight: bold;
	}

	input[type='time'],
	input[type='file'] {
		width: 100%;
	
		border-radius: 1rem;


		background: white;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__loactionDiv {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__buttonContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__timeRow {
		display: flex;
		align-items: center;
		gap: 10px; 
	}
	
	&__input--time {
		width: 120px; 
	}
	
	&__timeSeparator {
		font-size: 16px;
		color: #333; 
	}
	
	&__dayToggle {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 5px;
	}
	
	&__checkbox {
		width: 16px;
		height: 16px;
		cursor: pointer;
	}
	
	&__timeLabel {
		font-size: 14px;
		color: #333;
		margin-right: 5px;
	}
	
	&__day--disabled {
		opacity: 0.5; 
	}
	
	&__day--disabled{
		pointer-events: auto; 
		opacity: 1; 
	}
	
	&__checkbox {
		pointer-events: auto; 
		opacity: 1; 
	}
	
	&__closedLabel {
		font-size: 14px;
		color: #999;
		font-style: italic;
		margin-left: 10px;
	}

	&__inputWrapper {
		position: relative;
		display: flex;
		align-items: center;
	}
	
	&__icon {
		position: absolute;
		left: 10px; /* Adjust based on your design */
		color: #000000;
		font-size: 1.5rem;
	}
	

	
}

.nextBtn {
	background: #bc76f1;
	padding: 1rem 3rem;
	border-radius: 1rem;
	color: white;
	border: none;
	cursor: pointer;
	transition: background 0.3s;

	&:hover {
		background: darken(#bc76f1, 10%);
	}
}

.fileUpload {
	position: relative;
	width: 100%;

	&__input {
		display: none !important;
	}

	&__button {
		width: 100%;
		display: inline-block;
		background: #bc76f1;
		color: white;
		padding: 1rem 2rem;
		border-radius: 1rem;
		cursor: pointer;
		text-align: center;
		transition: background 0.3s;

		&:hover {
			background: #a65ed1;
		}
	}
}


.form__error {
	color: red;
	font-size: 1.4rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.form__input--error,
.form__textarea--error {
	border-color: red;
	box-shadow: 0 0 0 1px red;
}


.nextBtn:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}


@media screen and (max-width: 900px){
	.form{

		height: 100%; 
		max-height: 100%;

		&__textContainer{
			width: 100%;
		}

		&__Container {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2rem;
		}

	}



}

@media screen and (max-width: 600px){
	.form{

		height: 100%; 
		max-height: 100%;

		&__divContainer{
			display: block;
		}

		&__previewContainer{
			width: 100%;
		}

	}



}