.model{

    &__backdrop{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content{
     background: white;
     padding: 2rem;
     border-radius: 1rem;
     box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);   
     width: 80%;
     max-width: 50rem;
     position: relative;
    }

    &__closeButton{
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: transparent;
        border: none;
        font-size: 2rem;
        color: #FC9047;
        cursor: pointer;

        &:hover{
            color: #c26120;
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }

    }
}