

  .main {
    transition: margin-left 0.3s ease;
    padding: 2rem;
    margin-left: 0;

    min-height: 100vh;
  }
  
  .pageWrapper {
    transition: margin-left 0.3s ease;
    margin-left: 0;
  }

  .pageWrapperShifted {
    margin-left: 25rem; // Sidebar width
  }
  
  