/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;  /* Initially off-screen */
  width: 250px;
  height: 100%;
  background-color: #BC76F1;
  transition: left 0.3s ease;
  z-index: 1000;
padding: 1rem 4rem;

  &--open {
    left: 0;  /* Move to the left when open */
  }

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
  }

  &__navList{
 
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3rem;
  }

  &__navLink{
    color: white;
    text-decoration: none;
  }

  &__navItem{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }


  &__title{
   
    color: white;

  }
}

/* Header */
.header {
  display: flex;
  justify-content: flex-start;  /* Align items to the left */
  align-items: center;
  padding: 1rem;
  transition: margin-left 0.3s ease;
  background: #BC76F1;
 padding: 1rem 4rem;
   /* Background color for header */

  &--shifted {
    margin-left: 250px;  /* Shift header to the right when the sidebar is open */
  }

  &__nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    /* Background color for nav */
    width: 100%;  /* Full width of header */
  }
    &__navList {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      

      &--first{
     
      
      }
    }

    &__navListFIrst{
     
    }

   &__navItem {
      display: inline-block;
    }

    &__navLink {
      text-decoration: none;
      color: white;
    }

    &__logo {
      height: 5rem;
      
    }

    /* Toggle Button (Hamburger Icon) */

  }

  .toggleButton {
    background: none;
    border: none;
    font-size: 2rem;  /* Larger size for the hamburger icon */
    cursor: pointer;
    z-index: 1100;
    color: white;  /* Make sure button is on top */

    &--sidebarOpen {
      color: white;
      position: absolute;
      top: 0;
      left: 50%;  /* Align it to the middle of the sidebar */
      transform: translateX(-50%);  /* Center the button */
    }

    &--hidden {
      display: none; 
      color: white;
       /* Hide the hamburger button in the header when sidebar is open */
    }
  }
