/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -500px; 
  width: 250px;
  height: 100%;
  background-color: #BC76F1;
  transition: left 0.3s ease;
  z-index: 10000;
padding: 1rem 4rem;

  &--open {
    left: 0;  
  }

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
  }

  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 3rem;
  }

  &__navList{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;


    &--second{
      display: none;
    }
  
  }



  &__navLink{
    color: white;
    text-decoration: none;
  }

  &__navItem{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
 
  }


  &__title{
   
    color: white;

  }
}


.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  transition: margin-left 0.3s ease;
  background: #BC76F1;
 padding: 1rem 4rem;
 min-height: 7.5rem;


  &--shifted {
    margin-left: 250px;  
  }

  &__nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    width: 100%;  
  }
    &__navList {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      

      &--first{
     
      
      }
    }

    &__navListFIrst{
     
    }

   &__navItem {
      display: inline-block;
      
    }

    &__navLink {
      text-decoration: none;
      color: white;
    }

    &__logo {
      height: 5rem;
      
    }

    /* Toggle Button (Hamburger Icon) */

  }

  .toggleButton {
    background: none;
    border: none;
    font-size: 2rem;  
    cursor: pointer;
    z-index: 1100;
    color: white; 

    &--sidebarOpen {
      color: white;
      position: absolute;
      top: 0;
      left: 50%; 
      transform: translateX(-50%); 
    }

    &--hidden {
      display: none; 
      color: white;
    
    }
  
  }


  @media screen and ( max-width: 750px){

    .header {
      &__navItem {
        display: none;
      }
    }

    .sidebar {
      left: -100vw; /* Hidden by default */
      width: 100vw; /* Full screen width */
  
      &--open {
        left: 0;
      } 
      

    &__navList{
      width: 100%;
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 2rem;
 
  
      &--second{
    display: flex;
      }
    
    }
  }
  }