.profileContainer {
    max-width: 70rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);

    .title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: center;
       }   color: #333;
    }